*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
!app/debug.keystore
/app/release/

.gemini/
.claude/
.junie/
.kotlin/
.wiki/
docs/
/ppocr-sdk/build/
